.cms-index-index .header-container.type1 { position: relative; }
.footer-bottom .baseline { color: white }
.footer-middle .contact-info strong { color: white; }
.middle-home li h2 { text-align: center; }
.notice-holidays { background: #53402e; text-align: center; color: #e8720d; }
.notice-holidays p { margin: 0; line-height: 36px; font-size: 16px;  } 